* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 60px;

}

body {
    background-image: url('https://picsum.photos/1920/1080');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;

}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

button {

    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.buttons {
    display: flex;
    gap: 40px;
    /* espaço entre os botões */
    margin: 30px 0;
}

button:hover {
    opacity: 0.7;
}


#rock {
    background-color: blueviolet;
}

#paper {
    background-color: pink;
}

#scissors {
    background-color: rgb(0, 204, 255);
}

.your-score {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;

}

.machine-score {
    font-weight: bold;
    font-size: 20px;

}

.result {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;
    color: red;


}

.span-your {
    color: black;

}

.span-machine {
    color: black;

}